/src/Makefile
/sandbox/Makefile
/doc/coqdoc.sty
/doc/body.tex
/coq*/
*.tar.gz
*~
\#*\#
*.pyc
*.pyo
*.aux
*.bbl
*.blg
*-blx.bib
*.run.xml
*.html
*.log
*.out
*.toc
*.pdf
*.vo
*.v.d
*.glob
/bin/
/lib/
/man/
